@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
body {
}
.colors {
    background: url("image.jpeg") no-repeat scroll;
    color: rgb(255, 0, 0);
    border: 1px solid rgb(0, 0, 255);
    background-clip: content-box;
    max-width: 1020px;
    text-align: center;
}
.hithere2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Sono', Arial;
    text-align:right;
    text-decoration: underline;
}
a {
    font-size: 30px;
    text-decoration: none;
    color: purple;
    text-transform: capitalize;
}